.container {
  background-color: #101b2a;
  display: flex;
}


.navigation {
  display: grid;
  width: 50%;
  grid-template-columns: 1fr 1fr 1fr;
  color: #ffffff;
}


.wrapper {
  display: flex;
}


.list {
  list-style: none;
}

.list_item {
  margin: 15px 0;
}

.title {
    padding-top: 40px;
}

.link {
  text-decoration: none;
  color: #ffffff;
}
.link:hover {
  color: #aaaaaa;
  transition: color 0.2s ease-in;
}



.companyInfo {
  color: #57606f;
  font-size: 14px;
  margin: 30px 0;
}
