.social{
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 190px;
}

.logoList {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.logoListItem {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #57606f;
    display: flex;
    justify-content: center;
}

.socialLink {
    display: flex;
    align-items: center;
}

.companyContacts {
    font-size: 17px;
    color: #ffffff;
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
}